.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.logo img {
  max-width: 50px;
}

.logo h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0.5rem;
}

.form {
  max-width: 100%;
  padding: 1rem 0;
  display: flex;
}

.form input {
  max-width: 350px;
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border-radius: 0.2rem 0 0 0.2rem;
  border: 1px solid #ccc;
}

.lista {
  width: 100%;
  list-style: none;
}

.lista li {
  width: 100%;
  margin: 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.4rem 0;

  border-bottom: 1px solid #ccc;
}

.lista li p {
  max-width: 200px;
  overflow: hidden;
}

button {
  background: transparent;
  border: 0;

  cursor: pointer;
}

.addBtn {
  background: #28a745;
  color: #fff;
  font-size: 2rem;
  line-height: 2.6rem;
  width: 50px;
  border-radius: 0 0.2rem 0.2rem 0;
  height: 2.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doneBtn {
  margin-right: 1rem;
  color: #28a745;
}

.replyBtn {
  margin-right: 1rem;
  color: #ccc;
}

.deleteBtn {
  color: #333;
}
