.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.logo img {
  max-width: 50px;
}

.logo h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0.5rem;
}

.form {
  max-width: 100%;
  padding: 1rem 0;
  display: flex;
}

.form input {
  max-width: 350px;
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border-radius: 0.2rem 0 0 0.2rem;
  border: 1px solid #ccc;
  color: #777;
  font-size: 1rem;
}

.form input::-webkit-input-placeholder {
  color: #aaa;
  font-size: 1rem;
}
.form input::-moz-placeholder {
  color: #aaa;
  font-size: 1rem;
}

.no-todo {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #ccc;
  margin-top: 3rem;
}
.lista {
  width: 100%;
  list-style: none;
}

.lista li {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.8rem 0 0.8rem 0.8rem;
}

.lista li p {
  max-width: 200px;
  overflow: hidden;
}

.lista li:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}

.lista li:nth-child(even) {
  background-color: rgb(250, 250, 250);
}

button {
  background: transparent;
  border: 0;

  cursor: pointer;
}

.addBtn {
  background: #28a745;
  color: #fff;
  font-size: 2rem;
  line-height: 2.6rem;
  width: 50px;
  border-radius: 0 0.2rem 0.2rem 0;
  height: 2.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doneBtn {
  margin-right: 1rem;
  color: #28a745;
}

.replyBtn {
  margin-right: 1rem;
  color: #ccc;
}

.deleteBtn {
  color: #555;
  margin-right: 0.4rem;
}
