<h1>Helow World</h1>

<form [formGroup]="form">
  <label>Tarefa</label>
  <input
    type="text"
    placeholder="Digite sua tarefa"
    maxlength="60"
    formControlName="title"
  />
  <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine"
    >Este Campo deve conter entre 3 a 60 caracteres</small
  >
  <button [disabled]="form.invalid" (click)="add()">Salvar</button>
</form>

<p *ngIf="todos.length === 0">
  <small>Sem tarefas no momento</small>
</p>

<ul>
  <li *ngFor="let todo of todos">
    {{ todo.title }}
    <button *ngIf="!todo.done" (click)="markAsDone(todo)">Concluir</button>
    <button *ngIf="todo.done" (click)="markAsUndone(todo)">Rafazer</button>
    <button (click)="remove(todo)">Remover</button>
  </li>
</ul>
