/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #333;
}

.msg-sucess {
  background-color: #28a745;
  color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
}

.msg-error {
  background-color: rgb(227, 94, 107);
  color: #fff;
}
